@import "../../../scss/animations";
@import "../../../scss/variables";

.section {
    align-items: center;
    background: $brand-primary;
    display: flex;
    justify-content: start;
    min-height: 100vh;
    overflow: hidden;
    position: relative;

    @media (min-width: $breakpoint-xl) {
        max-height: 100vh;
    }

    &::after {
        background-color: $brand-primary;
        opacity: 0.2;
        content: "";
        height: 100%;
        pointer-events: none;
        position: absolute;
        width: 100%;
    }

    // sectionContent
    &Content {
        color: $white;
        text-align: start;

        @media (min-width: $breakpoint-xl) {
            width: 60vw;
        }

        p {
            font-size: 1rem;
            font-weight: 300;
            line-height: 1.6;

            @media (min-width: $breakpoint-lg) {
                font-size: 1.5rem;
            }
        }

        // sectionContentSVG
        &SVG {
            bottom: 0;
            height: 100%;
            left: 0;
            opacity: 0.1;
            pointer-events: none;
            position: absolute;
            right: 0;
            top: 0;
            transform: scale(3) rotate(00deg);
            width: 100%;

            @media (min-width: $breakpoint-lg) {
                bottom: -5%;
                height: 70%;
                right: -5%;
            }
        }

        // sectionContentText
        &Text {
            opacity: 0;

            &::before {
                content: ">> ";
            }

            &::after {
                content: "|";
            }
        }

        // sectionContentTyped
        &Typed {
            &::after {
                animation: flashing 1s infinite;
            }
        }

        // sectionContentWrapper
        &Wrapper {
            align-items: center;
            display: flex;
            justify-content: start;
            padding: 2rem;
            z-index: 2;

            @media (min-width: $breakpoint-lg) {
                min-height: 50vh;
                padding: 5rem;
                width: 100%;
            }
        }
    }
}