@import "../../../scss/animations";
@import "../../../scss/variables";

@keyframes pulse-opacity {
    0% {
        opacity: 0.6;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.6;
    }
}

.section {
    align-items: center;
    background: linear-gradient(to bottom, rgb(0, 86, 63), rgb(0, 136, 100));
    display: flex;
    justify-content: center;
    max-height: 100vh;
    min-height: 100vh;

    &::after {
        background-color: $brand-primary;
        opacity: 0.2;
        content: "";
        height: 100%;
        pointer-events: none;
        position: absolute;
        width: 100%;
    }

    // sectionContent
    &Content {
        color: $white;
        text-align: start;
        width: 60vw;

        p {
            font-size: 28px;
            font-weight: 300;
            line-height: 1.6;
        }

        // sectionContentSVG
        &SVG {
            animation: pulse-opacity 2s infinite;
        }

        // sectionContentText
        &Text {
            opacity: 0;

            &::before {
                content: ">> ";
            }

            &::after {
                content: "|";
            }
        }

        // sectionContentTyped
        &Typed {
            &::after {
                animation: flashing 1s infinite;
            }
        }

        // sectionContentWrapper
        &Wrapper {
            align-items: center;
            display: flex;
            justify-content: start;
            min-height: 50vh;
            padding: 5rem;
            width: 100%;
            z-index: 2;
        }
    }
}