@import "../../../scss/variables";

.bannerButton {
    margin-left: auto;
    margin-right: auto;
}

.section {
    align-items: center;
    display: flex;
    justify-content: center;
    max-height: calc(100vh - #{$header-height-desktop});
    min-height: calc(100vh - #{$header-height-desktop});
    position: relative;

    & > div {
        @media (max-width: $breakpoint-xl) {
            padding: $padding-height-mobile;
            width: 100%;
        }
    }

    &::after {
        background-color: $brand-primary;
        content: "";
        opacity: 0.8;
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backdrop-filter: blur(10px) brightness(0.8);
        backdrop-filter: blur(10px) brightness(0.8);
        pointer-events: none;

        @media (max-width: $breakpoint-xl) {
            bottom: 0;
            left: 0;
            margin-top: 0;
            right: 0;
            top: 0;
        }
    }

    div {
        z-index: 1;
    }

    // sectionContactForm
    &ContactForm {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 2rem;

        input, select, textarea {
            padding: 0.5rem;

            @media (min-width: $breakpoint-xl) {
                padding: 0.75rem;
            }

            &::placeholder {
                color: $brand-primary;
                opacity: 1;
            }
            
            &::-ms-input-placeholder {
                color: $brand-primary;
            }
        }

        select {
            color: $brand-primary;
        }
    }

    // sectionContent
    &Content {
        text-align: center;

        @media (min-width: $breakpoint-xl) {
            width: 30vw;
        }

        // sectionContentWrapper
        &Wrapper {
            align-items: center;
            background: $white;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            min-height: 50vh;
            padding: 2em;
            width: 100%;

            @media (min-width: $breakpoint-xl) {
                margin: {
                    bottom: 2em;
                    left: auto;
                    right: auto;
                    top: 2em;
                }
                width: 60vw;
            }
        }
    }
}