@import '../../../scss/variables';

.section {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $padding-height-mobile;
    padding-bottom: 0;

    @media (min-width: $breakpoint-xl) {
        padding: 0;
    }

    // sectionText
    &Text {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        p {
            margin: 0;
        }

        > :first-child {
            margin-top: 0;
        }

        @media (min-width: $breakpoint-xl) {
            width: 50%;
        }
    }
}