.section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    // sectionText
    &Text {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 50%;
    }
}