@import "../../scss/variables";

.footer {
    align-items: center;
    background-color: $brand-primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding: $padding-height-mobile;
    position: relative;

    p {
        border-top: 1px solid $white;
        color: $white;
        padding-top: 1rem;
        text-align: center;
    }

    // footerSVG
    &SVG {
        opacity: 0.1;
        pointer-events: none;
        position: absolute;
        width: 100%;
    }
}