@import "../scss/variables.scss";

// bodyNav
.bodyNav {
    transition: transform 0.4s ease-in-out;

    // bodyNavOpen
    &Open {
        @media (max-width: $breakpoint-xl) {
            transform: translateX(-60vw);
        }
    }
}

.container {
    // position: absolute;
    // top: 100vh;
}

.highlightedText {
    color: $brand-primary;
}