// Size breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// Colours
$black: #000;
$brand-primary: #007958;
$brand-primary-light: rgb(64, 180, 158);
$white: #FFF;

// Values
$header-height-desktop: 3.5rem;

$padding-height-mobile: 2rem;
$padding-height-desktop: 5rem;