@import "./fonts";
@import "./variables";

body {
    font-family: "Inter", sans-serif;
    margin: 0;

    --header-height: #{$header-height-desktop};
}

main {
    position: absolute;
    top: $header-height-desktop;
}