@import "../../scss/variables";

.section {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;

    @media (min-width: $breakpoint-xl) {
        max-height: calc(100vh - #{$header-height-desktop});
        min-height: calc(100vh - #{$header-height-desktop});
    }
}